name: Build

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

permissions: 
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os}}
    strategy:
      matrix:
        include: 
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            target_short: x86_64-linux
            artifact_name: mkpkfs
            archive_ext: tar.gz

          - os: macos-latest
            target: x86_64-apple-darwin
            target_short: x86_64-mac
            artifact_name: mkpkfs
            archive_ext: zip
          
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            target_short: x86_64-win
            artifact_name: mkpkfs.exe
            archive_ext: zip
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Pack Binary
        shell: bash
        run: |
          TARGET_DIR=target/${{ matrix.target }}/release
          VERSION=${{ github.ref_name }}
          cp $TARGET_DIR/${{ matrix.artifact_name }} .
          chmod +x ${{ matrix.artifact_name }}
          if [ "${{matrix.os}}" = "ubuntu-latest" ]; then
            tar -czvf pkfs-utils-$VERSION-${{ matrix.target_short }}.tar.gz ${{ matrix.artifact_name }}
          elif [ "${{matrix.os}}" = "macos-latest" ]; then
            zip pkfs-utils-$VERSION-${{ matrix.target_short }}.zip ${{ matrix.artifact_name }}
          else
            powershell -Command Compress-Archive -Path ${{ matrix.artifact_name }} -DestinationPath pkfs-utils-$VERSION-${{ matrix.target_short }}.zip -Force
          fi

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: pkfs-utils-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

