name: Build

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

permissions: 
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os}}
    strategy:
      matrix:
        include: 
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: mkpkfs
            archive_ext: tar.gz

          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: mkpkfs
            archive_ext: zip
          
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: mkpkfs.exe
            archive_ext: zip
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Pack Binary
        shell: bash
        run: |
          VERSION=${{ github.ref_name }}
          if [ "${{matrix.os}}" = "ubuntu-latest" ]; then
            tar -czvf pkfs-utils-$VERSION-${{ matrix.target }}.tar.gz target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
          else
            tar -czvf pkfs-utils-$VERSION-${{ matrix.target }}.zip target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
          fi

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: pkfs-utils-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

